/*
    Created on : Sep 19, 2014, 2:01:43 PM
    Author     : @arboshiki
*/
.lobibox-notify-wrapper {
  z-index: 5000;
  position: fixed;
  overflow-x:hidden;
  overflow-y: auto;
  min-height: 200px;
  max-height: 513px;
  padding-bottom: 8px;
}
.lobibox-notify-wrapper.bottom {
  bottom: 0px;
}
.lobibox-notify-wrapper.left {
  left: 0px;
  margin-right: 0px;
}
.lobibox-notify-wrapper.right {
  right: 26px;
  top: 50px;
}

.lobibox-notify-wrapper-large {
  z-index: 5000;
  position: fixed;
}
.lobibox-notify-wrapper-large.top {
  top: 0px;
}
.lobibox-notify-wrapper-large.bottom {
  bottom: 0px;
}
.lobibox-notify-wrapper-large.left {
  left: 0px;
}
.lobibox-notify-wrapper-large.left .nav-tabs > li {
  float: left;
}
.lobibox-notify-wrapper-large.right {
  right: 0px;
}
.lobibox-notify-wrapper-large .nav-tabs {
  border: none;
  background-color: transparent;
  margin-bottom: -7px;
}
.lobibox-notify-wrapper-large .nav-tabs > li {
  float: right;
}
.lobibox-notify-wrapper-large .nav-tabs > li > a {
  margin-bottom: 2px;
  border-radius: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  height: 32px;
  display: table;
  color: #FFF;
  margin-right: 0;
  margin-left: 2px;
  border: 1px solid transparent;
  width: 28px;
  opacity: 0.6;
}
.lobibox-notify-wrapper-large .nav-tabs > li > a:hover,
.lobibox-notify-wrapper-large .nav-tabs > li > a:active,
.lobibox-notify-wrapper-large .nav-tabs > li > a:focus,
.lobibox-notify-wrapper-large .nav-tabs > li > a:hover:active {
  color: #FFF;
  cursor: pointer;
  border: 1px solid transparent;
}
.lobibox-notify-wrapper-large .nav-tabs > li > a .tab-control-icon {
  display: table-cell;
  vertical-align: middle;
  /*line-height: 30px;*/
}
.lobibox-notify-wrapper-large .nav-tabs > li.lobibox-notify-error > a {
  background-color: rgba(202, 33, 33, 0.9);
  border-color: #bd1f1f;
}
.lobibox-notify-wrapper-large .nav-tabs > li.lobibox-notify-error > a:hover {
  background-color: #ca2121;
  border-color: #b41d1d;
}
.lobibox-notify-wrapper-large .nav-tabs > li.lobibox-notify-success > a {
  background-color: rgba(41, 184, 126, 0.9);
  border-color: #26ab75;
}
.lobibox-notify-wrapper-large .nav-tabs > li.lobibox-notify-success > a:hover {
  background-color: #29b87e;
  border-color: #24a370;
}
.lobibox-notify-wrapper-large .nav-tabs > li.lobibox-notify-warning > a {
  background-color: rgba(206, 129, 46, 0.9);
  border-color: #c1792b;
}
.lobibox-notify-wrapper-large .nav-tabs > li.lobibox-notify-warning > a:hover {
  background-color: #ce812e;
  border-color: #b97429;
}
.lobibox-notify-wrapper-large .nav-tabs > li.lobibox-notify-info > a {
  background-color: rgba(46, 121, 180, 0.9);
  border-color: #2b71a8;
}
.lobibox-notify-wrapper-large .nav-tabs > li.lobibox-notify-info > a:hover {
  background-color: #2e79b4;
  border-color: #296ba0;
}
.lobibox-notify-wrapper-large .nav-tabs > li.active > a {
  opacity: 1;
}
.lobibox-notify-wrapper-large .tab-content {
  background-color: transparent;
  padding: 0;
  border: none;
}
.lobibox-notify-wrapper-large .tab-content .lobibox-notify {
  min-height: 150px;
}
.lobibox-notify-wrapper-large .tab-content .lobibox-notify .lobibox-notify-icon {
  width: 100px;
  font-size: 78px;
}
.lobibox-notify-wrapper-large .tab-content .lobibox-notify .lobibox-notify-icon,
.lobibox-notify-wrapper-large .tab-content .lobibox-notify .lobibox-notify-icon > * {
  line-height: 100px;
}

.lobibox-notify .lobibox-notify-icon {
  position: absolute;
  text-align: center;
  font-size: 55px;
  left: 15px;
  top: 10px;
  width: 60px;
}
.lobibox-notify .lobibox-notify-icon,
.lobibox-notify .lobibox-notify-icon > * {
  line-height: 60px;
}
.lobibox-notify .lobibox-notify-icon img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.lobibox-notify .lobibox-notify-body {
  margin: 9px 0;
  margin-left: 20px;
  width: 306px;
}
.lobibox-notify .lobibox-notify-title {
  font-size: 20px;
}
.lobibox-notify .lobibox-close {
  position: absolute;
  text-align: center;
  border-radius: 50%;
  right: 19px;
  top: 10px;
  font-size: 20px;
  line-height: 19px;
  width: 19px;
  height: 19px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.lobibox-notify .lobibox-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.lobibox-notify .lobibox-delay-indicator {
  position: absolute;
  right: 46px;
  top: 50%;
  margin-top: -8px;
  height: 16px;
  line-height: 16px;
}
.lobibox-notify .lobibox-delay-indicator > div {
  position: relative;
  height: 100%;
}
.lobibox-notify.lobibox-notify-error {
  border-color: #b41d1d;
  background-color: rgba(202, 33, 33, 0.9);
  color: #ffffff;
}
.lobibox-notify.lobibox-notify-error:hover {
  background-color: #ca2121;
  border-color: #FFF;
}
.lobibox-notify.lobibox-notify-success {
  border-color: #24a370;
  background-color: rgba(41, 184, 126, 0.9);
  color: #ffffff;
}
.lobibox-notify.lobibox-notify-success:hover {
  background-color: #29b87e;
  border-color: #FFF;
}
.lobibox-notify.lobibox-notify-warning {
  border-color: #b97429;
  background-color: rgba(206, 129, 46, 0.9);
  color: #ffffff;
}
.lobibox-notify.lobibox-notify-warning:hover {
  background-color: #ce812e;
  border-color: #FFF;
}
.lobibox-notify.lobibox-notify-info {
  border-color: #296ba0;
  background-color: rgba(46, 121, 180, 0.9);
  color: #ffffff;
}
.lobibox-notify.lobibox-notify-info:hover {
  background-color: #2e79b4;
  border-color: #FFF;
}

.lobibox-notify.lobibox-notify-notice {

  position: relative;
  min-height: 85px;
  font-family: 'Arial Rounded MT Bold';
  margin: -1px 0 0 0;
  border-radius: 20;
  border: 1px solid transparent;
  
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border-color: #ddd;
  background-color: rgba(250, 250, 250, 0.85);
  color: #7a7a7a;
}
.lobibox-notify-wrapper.top.right .lobibox-notify.lobibox-notify-notice:last-child{
  -webkit-box-shadow: 0px 1px 5px #d6d6d6;
  box-shadow: 0px 1px 5px #d6d6d6;
}
.lobibox-notify.lobibox-notify-notice:hover {
  background-color: #e5e5e5;
}

.lobibox-notify:hover {
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 10px #aaaaaa;
  box-shadow: 3px 3px 10px #aaaaaa;
}
.lobibox-notify.notify-mini {
  min-height: 36px;
}
.lobibox-notify.notify-mini .lobibox-notify-title {
  margin-top: -5px;
  font-size: 20px;
  line-height: 22px;
}
.lobibox-notify.notify-mini .lobibox-notify-msg {
  line-height: 16px;
}
.lobibox-notify-msg .ui.button{
  height: 24px;
  padding: 6px 12px;
}
.lobibox-notify.notify-mini .lobibox-notify-icon {
  left: 7px;
  width: 26px;
  font-size: 25px;
}
.lobibox-notify.notify-mini .lobibox-notify-icon,
.lobibox-notify.notify-mini .lobibox-notify-icon > * {
  line-height: 16px;
}
.lobibox-notify.notify-mini .lobibox-notify-icon img {
  margin-top: -5px;
}

.del-pane {
    border: 1px solid transparent;
    border-color: #ddd;
    background-color: rgba(250, 250, 250, 0.85);
    margin: 0 0 -1px 0;
    color: #7a7a7a;
    width: 400px;
    height: 32px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
.ui.basic.button.notify-remove{
  margin-left: 0;
  min-width: 50px;
  height: 32px;
  margin-top: 0px;
  margin-left: 0px;
  line-height: 6px;
  padding: 5px 10px;
  border-radius: 0;
  box-shadow: 1px 0px 0px 0px rgba(34, 36, 38, 0.15);
}
.ui.basic.button.notify-remove > .icon{
  margin: 0;
  margin-top: -1px;
}